*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

/* Assets */
body{
    font-family: 'Cutive Mono', monospace;
    background-color: #F6EFEE;
}

.container-centered{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* flex */

    max-width: 1000px;
    margin: 0 auto;
}

.btn {
    padding: .3em 0;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #F3F1C9;
    font-family: 'Cutive Mono', monospace;
}
/* /Assets */

h1 {
    text-align: center;
    margin: 1em;
    font-size: 2.5em;
}

/* calcPrice */
.calcPrice {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
    /* flex */

    width: 300px;
    font-size: 1.2em;
}

.calcPrice .name {
    display: flex;
    width: 100%;

}

.calcPrice .surname{
    display: flex;
    width: 100%;
}

.calcPrice .name label, 
.calcPrice .surname label {
    width: 35%;
}

#passengerName, 
#passengerSurname{
    width: 65%;
}

.calcPrice .km {
    display: flex;
    width: 100%;

}

.calcPrice .age{
    display: flex;
    width: 100%;
}

.calcPrice .km label, 
.calcPrice .age label {
    width: 35%;
}

#tripKm,
#userAge{
    width: 30%;
}

.calcPrice .trip-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#tripPrice, 
#tripEmpty {
    width: 45%;
    font-size: 1.1rem;
}


.ticket{
    width: 100%;
    margin-top: 100px;

    border: 2px solid black;
    border-radius: 15px;

    font-size: 1.4em;
    background-color: #F3F1C9;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.7);
}

.ticket .info-ticket{
    height: calc(100% - 2em);
    /* test */
    display: flex;

    margin: .8em;
}

.ticket h2 {
    font-size: 2.5em;
    padding: .2em 0;
    text-align: center;
    color: #F3F1C9;
    background-color: black;
}

.ticket .info-ticket .info-ticket-left {
    width: 70%;
    border: 2px solid #000000;
}

.ticket .info-ticket .info-ticket-right {
    width: 30%;
    border: 2px solid black;
    border-left: none;
}

.trip-from-to {
    display: flex;  

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.depart, 
.arrive {
    width: 50%;
    padding: .5em;
}

.depart{
    border-right: 2px solid black;
}

.trip-info {
    display: flex;

    border-bottom: 2px solid black;
}

.trip-info .date, 
.trip-info .time {
    width: 35%;
    border-right: 2px solid black;
    padding: .5em;
}

.trip-info .carriage, 
.trip-info .seat {
    width: 15%;
    padding: .5em;
}

.trip-info .carriage {
    border-right: 2px solid black;
}

.trip-container{
    display: flex;
}

.trip-container .passenger-name {
    width: 50%;
    border-right: 2px solid black;
    padding: .5em;
}

.trip-container .price-info {
    display: flex;
    width: 50%;
}

.trip-container .price-info .info-km, 
.trip-container .price-info .info-price {
    width: 50%;
    padding: .5em;
}

.trip-container .price-info .info-km {
    border-right: 2px solid black;
}

.info-ticket-right {
    background-color: #831819;
}

.info-ticket-right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





/* /calcPrice */